*.iml
.gradle
# Ignore Gradle wrapper & cache, nhưng giữ script và libs
!gradle/libs.versions.toml
!gradle/**/*.gradle.kts
!gradle/**/*.gradle
gradle/caches/
.gradle/
gradle/
.gradle/
**/*.jar
**/*.dll
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Gradle files
**/build/
.gradle/caches/

# Android Studio
.idea/

# OS & Misc
*.log
