*.iml
.gradle
gradle/
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Gradle files
**/build/
.gradle/caches/

# Android Studio
.idea/

# OS & Misc
*.log
